html, body {background:#fff; margin:0; padding:0; font-family:arial, helvetica, sans-serif; height:100%;}
body {width:75%; margin:auto; font-size:80%;}
a {color:maroon;}

p.inputfield input:focus, input.mr10:focus {background:#f5f5dc;}
p.inputfield label {display:block; color:#37414a; font-weight:bold;}
p.inputfield input {width:15em;}

.mr10 {margin-right:10px;}
.highlight {background-color: yellow;}
.split-pane {padding: 0 1em;}
.clearboth {clear:both;}
.left {float:left;}
.right {float:right; text-align:right;}
.user {color:#f3f3cc;}
.information {color:maroon;}
.center {text-align:center;}
.strong {font-weight:bold;}
.cta-panel {background:#f5f5dc; margin-top:2em; padding:1em; border:1px dotted yellow;}
.cta-warning {background:pink; padding:1em; border:1px dotted red;}
.cta-info {background:white; padding:1em; border:1px dotted #3b6b9c;}

#header {background:#194e84;}
#header h1 {padding:0.5em 1em; margin:0;}
#header p, #footer p {width:50%; font-weight:bold; padding:0; margin:0.2em 0;}
#header h1, #header p, #header a, #footer p, #footer a {color:#fff;}
#header .split-pane{background:#3b6b9c;}

#main-content {padding:2em 1em 3em 1em;}
#main-content dl {margin:3em 0;}
#main-content dt {font-weight:bold;}
#main-content dd {margin-left:15em;}

#footer {position:absolute; bottom:0; width:100%; height:3em; background:#1f242a;}
#footer h3 {text-align:center; background:#37414a; font-size:0.8em; font-weight:normal; color:#fff; padding:0.1em 0; margin:0;}

#debug-status {display:none;}
#workflow {margin-bottom:3em;}
#container {min-height:100%; position:relative;}
#pager {margin:1em 0 3em 0;}

#project-explorer {
    background:#ddd; padding:1em 3em;
    -moz-border-radius-bottomleft: 1em; -moz-border-radius-bottomright: 1em;
    -webkit-border-radius-bottomleft: 1em; -webkit-border-radius-bottomright: 1em;
}

#cta {
margin:5em 1em;
background-color:#ddd;
-moz-border-radius-topleft: 6em; -moz-border-radius-bottomright: 6em;
-webkit-border-radius-topleft: 6em; -webkit-border-radius-bottomright: 6em;
padding:5em;}

#cta dl {width:400px; margin:2em auto;}
#cta dt, #cta dd {text-align:left;}

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(/img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}