html, body {background:#fff; margin:0; padding:0; font-family:arial, helvetica, sans-serif; height:100%;}
body {width:75%; margin:auto; font-size:80%;}
a {color:maroon;}

#container {min-height:100%; position:relative;}
p.inputfield input:focus {background:#f5f5dc;}
p.inputfield label {display:block; color:#37414a; font-weight:bold;}
p.inputfield input {width:15em;}

.split-pane {padding: 0 1em;}
.clearboth {clear:both;}
.left {float:left;}
.right {float:right; text-align:right;}
.user {color:#f3f3cc;}
.information {color:maroon;}
.center {text-align:center;}
.strong {font-weight:bold;}
.cta-panel {background:#f5f5dc; margin-top:2em; padding:1em; border:1px dotted yellow;}
.cta-warning {background:pink; padding:1em; border:1px dotted red;}
.cta-info {background:white; padding:1em; border:1px dotted blue;}

#header {background:#194e84;}
#header h1 {padding:0.5em 1em; margin:0;}
#header p, #footer p {width:50%; font-weight:bold; padding:0; margin:0.2em 0;}
#header h1, #header p, #header a, #footer p, #footer a {color:#fff;}
#header .split-pane{background:#3b6b9c;}

#main-content {padding:2em 1em 3em 1em;}

#footer {position:absolute; bottom:0; width:100%; height:3em; background:#1f242a;}
#footer h3 {text-align:center; background:#37414a; font-size:0.8em; font-weight:normal; color:#fff; padding:0.1em 0; margin:0;}

#cta {
margin:5em 1em;
background-color:#ddd;
-moz-border-radius-topleft: 6em; -moz-border-radius-bottomright: 6em;
-webkit-border-radius-topleft: 6em; -webkit-border-radius-bottomright: 6em;
padding:5em;}
